/* This is the external css style sheet for the website that */
/* allows use of css without cluttering up the coding of the website */
/*------------------------------------------------------*/
/* This is for the body of the text */
/*------------------------------------------------------*/
body {
	background-color: azure;
	color: darkgreen;
}
/*------------------------------------------------------*/
/* This is for any headers using <h1> */
/*------------------------------------------------------*/
h1 {
    font-family:sans-serif;
    border-style: dotted;
    text-align: center;
}
/*------------------------------------------------------*/
h2 {
    font-family: sans-serif;
    text-decoration: underline;
    color: cadetblue;
    text-align: center, left;
}
/*------------------------------------------------------*/
/* This is for any text using <sub> */
/*------------------------------------------------------*/
sub {
    font-family: monospace;
    text-align: center;
}
/*------------------------------------------------------*/
/* This is for any objects such as images that require to be aligned center in the page */
/*------------------------------------------------------*/
    .center {
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    border: 3px solid green;
                    border-radius: 5px;
                    padding: 10px;
                        }
/*------------------------------------------------------*/
/* This is formatting for forms */
/*------------------------------------------------------*/
form {
  text-align: center;
}

textarea {
    width: 400px;
    height: 250px;
}
/*------------------------------------------------------*/
/* This is for buttons */
/*------------------------------------------------------*/
.buttonG {
  background-color: lightgreen; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
    font-family: sans-serif
}

.button {
  float: center;
    border-radius: 12px;
}

.button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}
/*------------------------------------------------------*/
/* This is for links */
/*------------------------------------------------------*/
/* unvisited link */
a:link {
  color: forestgreen;
    text-decoration: none;
}

/* visited link */
a:visited {
  color: darkgreen;
    text-decoration: none;
}

/* mouse over link */
a:hover {
  color: greenyellow;
    text-decoration: none;
}

/* selected link */
a:active {
  color: wheat;
    text-decoration: none;
}
/*------------------------------------------------------*/
/* This is for borders */
/*------------------------------------------------------*/
p.solid {
    border-style: solid;
    border-radius: 5px;
}

table, th, td {
  border: 1px solid black;
}
/*------------------------------------------------------*/
/* This is for centering objects in a wrap */
/*------------------------------------------------------*/
.wrapper {
    text-align: center;
}
